@tailwind base;
@tailwind components;
@tailwind utilities;

.content:nth-child(odd){
    flex-direction: row-reverse;
}

@media screen and (min-width:320px) {
    .content:nth-child(odd){
        flex-direction: column;
        margin-top: 5px;
    }
}
@media screen and (min-width:768px) {
    .content:nth-child(odd){
        flex-direction: row-reverse;
        gap: 0px;
        margin-top: 5px;
       
        width: 100%;
        height: 100%;
    }
}

.active img{
    padding: 5px;
}


@layer utilities {
    .bg-gradient-75 {
      background: linear-gradient(75deg, #0f8d71, #27f4c7);
    }
    .bg-gradient-custom {
        background: linear-gradient(75deg, #f3b480, #ce8f5a);
      }
  }